p Tu usuario ha sido creado exitosamente, a continuación la información de tu cuenta:
ul
  li Usuario : #{username}
  li Password : #{pwd}
  li Número de Casillero : #{id}

p Muchas gracias por confíar en nuestros servicios. 

a(href="https://zen-hodgkin-43c9d5.netlify.app/") Ir a SucreExpress 